<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Oops !!</title>
</head>
<body>
<head>
    <meta charset="UTF-8">
    <title>YoIDE | Contact-us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet"  type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <style> body{ background-color: #D3D3D3 ;}</style>
</head>

<div class="container" style="color: darkblue;">
    <h1> <span class="glyphicon glyphicon-remove-sign"></span> Sorry Buddy , bad request try again !</h1>
</div>
</body>
</html>